<% show_post ||= false %>

<div class='row'>
  <div class='span0 well text-center'>
    <% if current_user %>
        <%= link_to vote_post_comment_path(one_comment.post, one_comment, vote: true), method: 'post', remote: true do %>
            <i class="icon-arrow-up"></i>
            <% end %>
        <br/>
    <% end %>

    <span id='comment_<%=one_comment.id%>_votes'><%= one_comment.total_votes %></span> <span id='comment_label_<%=one_comment.id%>_votes'><%= 'vote'.pluralize(one_comment.total_votes) %></span><br/>

<%= one_comment.total_number_of_votes_nice %>

    <% if current_user %>
        <%= link_to vote_post_comment_path(one_comment.post, one_comment, vote: false), method: 'post', remote: true do %>
            <i class="icon-arrow-down"></i>
            <% end %>
    <% end %>
  </div>

  <div class="well span8">
    <em>"<%= one_comment.body %>"</em>
    <% if show_post %>
        on <%= link_to one_comment.post.title, post_path(one_comment.post) %>
    <% end %>
    <br/>
    <span class="quiet">posted by <%= link_to one_comment.user.username, user_path(one_comment.user) %></span>
    <small>posted on <%= nice_date(one_comment.created_at) %>
    </small>

  </div>
</div>

