<div class='row'>
  <div class='span0 well text-center'>
    <% if current_user %>
        <% if post.may_vote(current_user) %>
        <%= link_to vote_post_path(post, vote: true), method: 'post', remote: true do %>

                <i id="post_<%=post.id%>_up_arrow" class="icon-arrow-up"></i>

        <% end %>
            <% end %>
    <br/>
    <% end %>

    <span id='post_<%=post.id%>_votes'><%= post.total_votes %></span> <span id='post_label_<%=post.id%>_votes'><%= 'vote'.pluralize(post.total_votes) %></span><br/>

    <% if current_user %>
        <%= link_to vote_post_path(post, vote: false), method: 'post', remote: true do %>
            <i id="post_<%=post.id%>_down_arrow" class="icon-arrow-down"></i>
            <% end %>
    <% end %>
  </div>

  <div class="span8 well">
    <%= render post.categories %>
    <h4><%= link_to post.title, post.url %>
      <% if logged_in? %>
          (<%= link_to 'Edit', edit_post_path(post) %>)
      <% end %>
    </h4>

    <p><%= post.description %></p>

    <p>
      <span class="quiet">posted by <%= link_to post.user.username, user_path(post.user) %></span>
      <small>posted on <%= nice_date(post.created_at) %> or <%= post.nice_created_at_date %>
      </small>
    </p>
    <small>
                  <span>
          <%= link_to("#{post.comments.size} comments", post_path(post)) %>
        </span>

    </small>

  </div>

</div>